@media (max-width: 768px) {
  .game-container {
    margin-top: 20px;
  }

  .title {
    margin-top: 10px;
  }

  #game-board {
    margin-top: 15px;
  }

  header,
  nav {
    padding-top: 10px;
  }

  #ai-start-button {
    padding: 4px 16px;
    font-size: 12px;
    height: 25px;
    line-height: 17px;
    border: none;
    border-radius: 5px;
    background-color: var(--player2-color);
    color: white;
    cursor: pointer;
    transition: all 0.3s;
  }

  #reset-button {
    height: 40px;
    line-height: 40px;
  }
}
