@media (max-width: 768px) {
  .game-container {
    margin-top: 20px;
  }

  .title {
    margin-top: 10px;
  }

  #game-board {
    margin-top: 15px;
  }

  header,
  nav {
    padding-top: 10px;
  }
}
